# Directories
old_runs/
presentation_runs/
5MW_test/
10MW_test/
5MW_sweep/
dtu_1/
dtu_2/
iea_1/
runs_old/
archive/
10MW_run
15MW_run
iea10MW_validation/
iea15MW_validation/
iea22MW_validation/
rot_validation/
stampede_validation/
run/archive/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images and data
*.png
*.npz
*.npy
rsl.*
wrfout_*
wrfinput_*
runs/**/*.dat

# Other
runs/**/*autorun_wrf
runs/**/*autorun_wrf_restart
runs/**/*CMakeLists.txt
runs/**/*export_libs_load_modules.sh
runs/**/*input_sounding.SGP
runs/**/*iofield_lists
runs/**/*log.*
runs/**/*namelist.input.SGP
runs/**/*namelist.input_shalconv
runs/**/*namelist.output
runs/**/*README.*
runs/**/*slurm*
runs/**/*_bk.tbl
runs/**/*pitchController*
runs/**/*speedController*
runs/**/*copy.tbl