# Directories
runs/
old_runs/
presentation_runs/
5MW_test/
10MW_test/
5MW_sweep/
dtu_1/
dtu_2/
iea_1/
runs_old/
archive/
10MW_run
15MW_run

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
